.services {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.service-item {
    padding: 10px 14px;
    font-size: 21px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    width: 21%;
    border-radius: 60px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.service-item:hover {
    background-color: var(--primary-color);
    color: white;
}

.service-item i {
    margin-bottom: 10px;
    font-size: 40px;
}

/* Media Queries */
@media (max-width: 970px) {
    .services {
        flex-wrap: wrap;
        padding: 30px 15px;
    }

    .service-item {
        width: 45%;
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .service-item {
        width: 90%;
        font-size: 25px;
    }
}