.book {
    padding: 70px 30px 100px;
}

.book-content {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.book-content-img {
    width: 30%;
    height: 500px;
    object-fit: contain;
    padding: 20px;
    box-shadow: 0 0 7px white;
    border-radius: 7px;
    background-color: snow;
    margin-right: 20px;
}

.book-content-info {
    width: 70%;
    margin-left: 40px;
}

.book-title {
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: bold;
    color: var(--primary-color);
}

.book-author {
    font-size: 24px;
    margin-bottom: 20px;
}

.book-author span {
    font-weight: bold;
    color: teal;
}

.book-price {
    margin: 20px 30px 0;
    font-size: 25px;
}

.book-price span {
    color: crimson;
    font-weight: bold;
    font-size: 30px;
}

.book-add-to-cart {
    margin: 10px 0 20px;
}

.book-add-to-cart-input {
    margin-right: 15px;
    font-size: 21px;
    font-weight: bold;
    padding: 7px 14px;
}

.book-add-to-cart-btn {
    margin-top: 30px;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    background-color: green;
    color: var(--main-color);
    padding: 7px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    text-align: center;
    width: fit-content;
    border: 1px solid green;
}

.book-add-to-cart-btn:hover {
    background-color: darkgreen;
}

.book-add-to-cart-btn i {
    margin-right: 10px;
    font-size: 24px;
}

.book-description {
    width: 60%;
    margin-top: 20px;
    font-size: 21px;
    line-height: 1.5;
    color: #555;
}

.book-icons {
    margin: 50px 0 0;
    display: flex;
    align-items: center;
}

.book-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 50px;
    font-size: 21px;
    color: teal;
}

.book-icon b {
    font-weight: bold;
    margin-bottom: 5px;
}

.book-icon small {
    font-weight: 600;
    font-size: 17px;
}

.book-icon i {
    font-size: 32px;
    margin: 10px 0; 
    color: var(--primary-color);
}

@media (max-width: 970px) {
    .book-content-img {
        background-color: transparent;
        box-shadow: none;
    }
}

@media (max-width: 768px) {
    .book-content-img {
        background-color: white;
        box-shadow: 0 0 12px snow;
    }
    .book-content {
        flex-direction: column;
    }

    .book-content-info {
        margin: 30px 0;
        width: 100%;
    }
    .book-content-img {
        width: 80%;
        height: auto;
        margin-bottom: 20px;
    }

    .book-description {
        width: 100%;
    }

    .book-icons {
        flex-direction: column;
        align-items: flex-start;
    }

    .book-icon {
        flex-direction: row;
        align-items: center;
        border-top: 1px solid var(--primary-color);
        padding: 20px 0;
    }

    .book-icon b {
        font-size: 16px;
    }

    .book-icon i {
        font-size: 25px;
        margin: 0 20px;
    }

    .book-icon small {
        font-size: 14px;
    }

}